@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about.css" />

<article>
    <h1>About</h1>
    <section>
        <div></div>
        <div>
        <img src="~/files/images/44852344_10212890362315647_1737660548675272704_n.jpg" />
        <p>I have been a programmming hobbyist for over 10 years with knowledge with the of C-Type language such as C, C++, C#, and Java. More recent years, I've been pushing myself to learn web development and I have to say I'm loving it. There are still lots to learn in web development and it'll probably be another 10 or more years before I stop because code is a passion in my life</p>
    </div>
            </section>
</article>
<script>
    let a = document.getElementsByTagName("a")[4];
    a.style.color = "dodgerblue";
    a.style.borderColor = "dodgerblue";
</script>