@{
    ViewData["Title"] = "Experience";
}
<article>
    <h1>Services</h1>
    <section>
        <div></div>
        <h2>Katrina's Aesthetics - <a target="_blank" href="https://www.katrinasaesthetics.com/">Link</a></h2>
        <b>03/2019 - Current</b>
        <p>A start up company that services aesthetics</p>
    </section>
</article>
<article>
    <h1>Personal Projects</h1>
    <section>
        <div></div>
        <h2>Password Generator - <a target="_blank" href="https://github.com/RedRevYol/PasswordGenerator">Link</a></h2>
        <p>C# program that uses LINQ to SQL Server for storing randomly generated passwords. After storing, you do not have to worry about forgetting any passwords and they are secured because the server is only accessed through windows authorization</p>
    </section>
    <section>
        <div></div>
        <h2>Unicode Map - <a target="_blank" href="https://github.com/RedRevYol/UnicodeMap">Link</a></h2>
        <p>This program lists all unicode characters; however, the characters are seperated by blocks, so that way the characters are not displayed all at once. When clicking on a character, all the information about that character is displayed below</p>
    </section>
    <section>
        <div></div>
        <h2>Weather - <a target="_blank" href="https://github.com/RedRevYol/Projects">Link</a></h2>
        <p>Gets JSON information from a website and display it in a table using the Java language</p>
    </section>
    <section>
        <div></div>
        <h2>Calculator - <a target="_blank" href="https://github.com/RedRevYol/Projects">Link</a></h2>
        <p>A simple calculator that uses reverse polish notation algorithm for the calculations</p>
    </section>
</article>
<article>
    <section>
        <div></div>
        <h2>Note</h2>
        <p>I plan on converting all my projects to C# ASP.NET</p>
    </section>
</article>
<script>
    let a = document.getElementsByTagName("a")[2];
    a.style.color = "dodgerblue";
    a.style.borderColor = "dodgerblue";
</script>