@{
    ViewData["Title"] = "Home";
}

    <article>
        <h1>Home</h1>
        <section>
            <div></div>
            <p>
                This website promotes web development projects. It focuses on front end and back end using HTML/CSS/Javascript for front end and ASP.NET C# Razor/SQL Server for back end.
            </p>
        </section>
    </article>
<script>
    let a = document.getElementsByTagName("a")[0];
    a.style.color = "dodgerblue";
    a.style.borderColor = "dodgerblue";
</script>