@{
    ViewData["Title"] = "Services";
}

<link rel="stylesheet" href="~/css/services.css" />

<article>
    <h1>Services</h1>
    <section>
        <div></div>
        <h2>Basic</h2>
        <p>The basic service</p>
    </section>
    <section>
        <div></div>
        <h2>Standard</h2>
        <p>The standard service</p>
    </section>
    <section>
        <div></div>
        <h2>Large</h2>
        <p>The large service</p>
    </section>
    <section>
        <div></div>
        <h2>Extended</h2>
        <p>The extended service</p>
    </section>
</article>
<article>
    <h1>Instructions</h1>
    <section>
        <div></div>
        <h2>Description</h2>
        <p></p>
    </section>
</article>
<script>
    let a = document.getElementsByTagName("a")[1];
    a.style.color = "dodgerblue";
    a.style.borderColor = "dodgerblue";
</script>